body,
html {
    background-image: url(fundo.jpg);
    background-attachment: fixed;
}

#icone {
    color: antiquewhite;
    margin-left: 7%;
    width: 10%;
}

#div2 {
    margin-left: 3%;
}

#titulo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    margin: auto;
    margin-top: 1%;
}

#menuDeGames {
    position: fixed;
    /* top: 0%;
    bottom: 0;
    left: 0; */
    top: 20%;
    left: 0;
    right: 77%;
    margin: auto;
    max-width: 300px;
    min-width: 200px;
}

#central {
    color: antiquewhite
}
.noscroll{
    overflow: hidden;
}
#botaodisable {
    background-color: black;
}

#texto {
    height: 1080px;
    color: antiquewhite;
    margin-top: 4%;
}

#divtexto {
    color: antiquewhite;
    margin-top: -1.3%;
   
}

#barraLateral {
    height: 900px;
}

#top {
    height: 90px;
    width: 100%;
}

/* Aqui est�o as tags/classes que eu modifiquei pra funcionar nos meus sites. */

h4 {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    color: antiquewhite;
}

h5{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    font-weight: bold;
}

.negrito{
    font-weight: bold;
    text-decoration: underline;
}

.bordinha{
    border-radius: 40px;
}

hr{
    border-color: antiquewhite;
}

.tabelinha{
    border: 4px;
    border-color: white;
    border-collapse: collapse;
}
